<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href= "{{url_for ('static', filename = 'style.css')}}">
    <title>Iron Mind💪</title>
</head>
<body>
    <h1>Добро пожаловать на наш сайт!</h1>
    <h2>ИИ-психолог для спортсменов, который помогает справляться с давлением, <br>страхом поражений и прокачивать концентрацию.</h2>
    <article>
        Ты тренируешь тело.
        Но выигрываешь — головой.
        <br>
        Наш ИИ-психолог создан специально для спортсменов, которые хотят:
        сохранять спокойствие в решающие моменты
        <br>
        справляться с тревогой перед соревнованиями
        <br>
        быстро восстанавливаться после поражений
        держать фокус на 100%
        <br>
        Это не просто чат. Это твой ментальный коуч, доступный 24/7.
    </article>

    <article>

        <p>Для регистрации перейдите по этой ссылке: <a href="/registration">Тык</a></p>
        <p>Вход <a href="/admit">Вход</a></p>
    </article>
</body>
</html>