<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename = 'style.css')}}">
    <title>Основная страница</title>
</head>
<body>
    <h1>Добро пожаловать, {{name}}!</h1>
    <form action="/exit" method="post">
        <button type="submit">Выйти из профиля</button>
    </form>
    
    <div class = 'res'>
        {% for text in info %}
        <p>{{ text.text }}</p>
        {% endfor %}
    </div>
    <form action="/response" method="post">
        <label for="responsible"></label>
        <textarea name="responsible" id="responsible" placeholder="Ваш запрос" rows="25">
        </textarea>
        <button type="submit">Отправить</button>
    </form>
</body>
</html>